body {
    background-color: rgb(13, 13, 13);
    color: white;
}

.myDev {
    background-color: rgb(111, 118, 8);
    width: 90%;
}


ol {
    /* list-style:armenian */
    /* list-style-type: square; */
    /* list-style-type: lower-roman; */
    list-style-type: lower-greek;
}